.about-section {
    @include flex-mixin(center, center, column, 1rem);
    width: 100%;
    position: relative;
    top: -3rem;

    .about-section--card {
        @include flex-mixin(center, center, column, 2rem);
        width: 50%;
        box-shadow: 0px 10px 15px 0px #7E616140;
        padding: $padding-4 $padding-2;
        background-color: $secondary;
        position: relative;

        .about-section--heading {
            @include section-heading-mixin;
        }


        p {
            width: 70%;
            font-size: $font-size-sm;
            font-weight: 400;
            font-family: $font-secondary;
            text-align: center;
            color: $font-content;
        }

        .about-section--rules {
            width: 90%;
            height: 1px;
            background-color: $tertiary;
            margin: $margin-2*3 0 $margin-2*5;

            .about-section--rules-images {
                @include flex-mixin(space-evenly, center);
                position: absolute;
                width: 80%;
                bottom: 14%;
                left: 55%;
                transform: translate(-50%, 0%);

                div {
                    img {
                        border-radius: 50%;
                        background-color: $secondary;
                        border: 1px solid black;
                        padding: 5px;
                        width: 30px;
                        height: 30px;
                    }

                    h2 {
                        width: 60%;
                        font-family: $font-secondary;
                        font-size: $font-size-sm;
                        color: $font-sub-heading;
                    }
                }

            }
        }

        .about-section--rules-content {
            @include flex-mixin(space-around, center);
            width: 100%;

            h2 {
                width: 20%;
                font-family: $font-secondary;
                font-size: $font-size-sm;
                color: $font-sub-heading;
            }
        }
    }


    .about-section--policies {
        @include flex-mixin(center, center, row, 2rem, wrap);
        position: relative;
        padding: $padding-2;
        bottom: -5rem;

        article {
            @include flex-mixin(center, center, column, 1rem);
            background-color: $secondary;
            width: 15rem;
            min-width: 10rem;
            min-height: 13rem;
            text-align: center;
            box-shadow: 0px 10px 15px 0px #06000040;
            padding: $padding-2;


            img {
                width: 3rem;
            }

            h2 {
                font-size: $font-size-md;
                font-weight: 500;
                font-family: $font-primary;
                color: $font-sub-heading;
            }

            p {
                font-size: $font-size-sm;
                font-weight: 400;
                font-family: $font-secondary;
                color: $font-content;
            }
        }
    }

    .about-section--achievements {
        @include flex-mixin(end, center, column, 2rem);
        width: 100%;
        background-color: $primary;
        color: $font-main;
        height: 20rem;
        padding-bottom: $padding-4;

        h1 {
            font-size: $font-size-lg;
            font-weight: 500;
            font-family: $font-primary;
        }

        h5 {
            width: 40%;
            font-size: $font-size-sm;
            font-weight: 400;
            font-family: $font-secondary;
            text-align: center;
        }

        section {
            @include flex-mixin(center, center, row, 2rem, wrap);
            padding: 0 $padding-4;

            div {
                @include flex-mixin(center, center, column);
                width: fit-content;
                flex-direction: column;

                h3 {
                    font-family: $font-primary;
                }

                p {
                    font-family: $font-secondary;
                    font-size: $font-size-xs;
                }
            }
        }
    }
}

@media (max-width:900px) {
    .about-section {
        .about-section--card {
            width: 100%;
        }

        .about-section--achievements {
            height: 20rem;

            h1 {
                font-size: $font-size-md * 1.25;
            }

            h5 {
                width: 60%;
            }
        }
    }

}

@media (max-width:400px) {
    .about-section {
        .about-section--card {
            width: 100%;

            .about-section--rules {
                display: none;
            }
        }

    }
}