.footer-section {
    @include flex-mixin(center, center, column);
    flex-direction: column;
    width: 100%;

    .footer-section-card-1 {
        @include flex-mixin(center, center, column, 2rem);
        text-align: center;
        background-color: $primary;
        color: $secondary;
        width: 100%;
        padding: $padding-4*2 0;

        h1 {
            font-family: $font-primary;
            font-size: $font-size-lg ;
            font-weight: 500;
        }

        p {
            font-family: $font-secondary;
            font-size: $font-size-sm;
            font-weight: 300;
            width: 40%;
        }
    }

    .footer-section-card-2 {
        @include flex-mixin(space-between, center);
        width: 100%;
        padding: $padding-4 $padding-4 * 2;

        .footer-section-card-2-copyright {
            @include flex-mixin(center, self-start, column);

            small {
                font-family: $font-secondary;
                color: $font-sub-heading;
                font-size: $font-size-sm;
            }
        }

        .footer-section-card-2-social {
            @include flex-mixin(center, center, default, 1rem);
            color: $font-sub-heading;

            i {
                cursor: pointer;
            }
        }
    }
}


@media (max-width:720px) {
    .footer-section {
        .footer-section-card-1 {
            p {
                width: 70%;
            }
        }

        .footer-section-card-2 {
            flex-direction: column;
            gap: 2rem;

            .footer-section-card-2-copyright {
                align-items: center;
            }
        }
    }
}