.header-section {

    @include flex-mixin(center, center, column);

    .header-logo {
        @include flex-mixin(center, center, column);
        font-size: $font-size-sm;
        font-family: $font-primary;
        font-weight: 700;
        padding: $padding-1;

        img {
            width: clamp(3rem, 5vw, 5vw);
        }

        span {
            &:nth-child(1) {
                color: $primary;
            }
        }
    }

    .header-navigation {

        .navigation-list {
            @include flex-mixin(center, center, default, 3rem);
            @include list-mixin;
            gap: 3em;
            font-family: $font-secondary;
            font-weight: 500;
            padding: $padding-1;

            .nav-items {
                color: $font-sub-heading;
                cursor: pointer;
            }
        }

        .burger-icon {
            display: none;
            font-size: $font-size-lg;
            padding: $padding-1;
            color: $font-sub-heading;
        }
    }

}

@media (max-width: 720px) {
    .header-section {
        @include flex-mixin(space-between, center, row);
        padding: $padding-1;

        .header-navigation {

            .navigation-list {
                display: none !important;
            }

            .burger-icon {
                display: block !important;
            }
        }
    }
}