.ourteam-section {
    @include flex-center-mixin;
    flex-direction: column;
    gap: 3rem;
    width: 100%;
    padding: $padding-4 0 $padding-4*2;

    h1 {
        font-size: $font-size-lg;
        font-weight: 700;
        font-family: $font-primary;
        color: $font-sub-heading;
    }

    .ourteam-section--aside-content {
        @include flex-center-mixin;
        flex-wrap: wrap;
        gap: 2rem;
        width: 70%;
        padding: $padding-4 0;

        article {
            @include flex-center-mixin;
            flex-direction: column;
            gap: 5px;
            flex-wrap: wrap;
            width: 13rem;
            align-items: self-start;
            box-shadow: 0px 10px 15px 0px #655A5A40;
            padding: 0px 0px $padding-3;

            img {
                width: 100%;
                height: 100%;
            }

            h3 {
                font-family: $font-primary;
                font-size: $font-size-md;
                padding: 0px 15px;
                color: $font-sub-heading;
            }

            h5 {
                font-family: $font-primary;
                font-size: $font-size-sm;
                padding: 0px 15px;
                color: $font-content;
            }

            p {
                font-family: $font-secondary;
                font-size: $font-size-sm;
                padding: 0px 15px;
                color: #697694;
            }
        }

    }
}