.our-mission {
    @include flex-mixin(space-between, center);

    width: 100%;
    height: 30rem;
    padding-bottom: 3rem;

    img {
        width: 50%;
        height: 100%;
        object-fit: cover;
    }

    .our-mission--aside-content {
        @include flex-mixin(center, center, column, 2rem);
        flex-direction: column;
        gap: 2rem;
        width: 50%;
        height: 100%;
        background-color: $primary;
        color: $font-main;
        text-align: center;

        .our-mission--heading {
            @include section-heading-mixin;
            color: $font-main;
        }

        p {
            width: 70%;
            font-weight: 300;
            font-family: $font-primary;
        }

        button {
            outline: 1px solid $secondary;
            padding: $padding-1 $padding-3;
            cursor: pointer;
        }
    }
}


@media (max-width:900px) {
    .our-mission {
        img {
            display: none;
        }

        .our-mission--aside-content {
            width: 100%;
        }
    }
}