.ourteam-section {
    @include flex-center-mixin;
    flex-direction: column;
    gap: 3rem;
    width: 100%;
    padding: $padding-4 0 $padding-4*2;

    .ourteam-section--heading {
        @include section-heading-mixin;
    }


    .ourteam-section--scroll-section {
        display: flex;
        overflow-x: auto;
        width: 100%;
        gap: 2rem;
        padding: $padding-4 $padding-4*4;


        .ourteam-section--child {
            display: flex;
            flex-direction: column;
            padding: 0 0 $padding-3;
            box-sizing: border-box;
            min-width: 13rem;
            width: 13rem;
            height: fit-content;
            gap: 5px;
            box-shadow: 0px 10px 15px 0px #655A5A40;


            img {
                width: 100%;
                height: 100%;
            }

            h3 {
                font-family: $font-primary;
                font-size: $font-size-md;
                padding: 0px 15px;
                color: $font-sub-heading;
            }

            h5 {
                font-family: $font-primary;
                font-size: $font-size-sm;
                padding: 0px 15px;
                color: $font-content;
            }

            p {
                font-family: $font-secondary;
                font-size: $font-size-sm;
                padding: 0px 15px;
                color: #697694;
            }
        }
    }

    ::-webkit-scrollbar {
        display: none;
    }

    button {
        background-color: transparent;
        color: $font-sub-heading;
        margin: 0 $margin-2*4;
        align-self: flex-end;
        font-family: $font-primary;
        font-weight: 700;
    }
}