@use "sass:math";

// colors 

$primary :#F64C72;
$secondary : #FFFFFF;


//font colors 

$main : #FFFFFF;
$sub_heading : #553D67;
$content : #6D7D8B;


// font-sizes 

$base-font-size : 1rem;


$font-size-sm : $base-font-size * 0.75;
$font-size-md : $base-font-size;
$font-size-lg : $base-font-size * 1.5;