// importing variables.

@import "variables";


// importing mixins.

@import "mixins";


//importing components.

@import "components";



//base styles

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

html,
body {
    width: 100dvw;
    height: 100dvh;
    position: relative;
}

::-webkit-scrollba {
    display: none;
}